@charset "UTF-8";

body{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/skyscraper.png");
	background-size: cover;
	background-position: center;
	opacity: 1;
}

h1{
	text-align: center;
	text-shadow: 4px 4px 7px blue;	
	font-style: italic;
}

h3{
	color: green;
}

table{
	width: 100%;
	height: 50px;
	border: 1px solid;
	color: green;
}

td, tr{
	width: 10%;
	height: 35px;
	border: 2px solid;
	text-align: center;
	border-radius: 10px;
	text-shadow: 2px 2px 5px red;
	
}

th{
	text-align: center;
	color: white;
	background-color: green;
	border-radius: 10px;
	text-shadow: 4px 4px 7px black;
}

input[type="text"],
textarea{
	width: 20%;
	height: 25px;
	border: 2px solid;
	
}

input[type="submit"]{
	color: white;
	background-color: green;
	padding: 7px 7px;
	border-radius: 15px;
	cursor: pointer;
}

input[type="reset"]{
	color: white;
	background-color: red;
	padding: 7px 7px;
	border-radius: 15px;
	cursor: pointer;
}

select{
	padding: 5px;
	border: 4px solid;
	background-color: light grey;
}

#vuelta{
	color: white;
	background-color: black;
	padding: 13px 13px;
	border-radius: 15px;
	cursor: pointer;
	margin: 0 auto;
}